{% extends "base.html" %}

{% block web_title %}Knight's Shortest Path{% endblock %}

{% block preamble %}
{% endblock %}

{% block main %}
			<section class="about">
				<h1 class="impact-text">Who am I?</h1>
				<p>My name is Ethan Welborn, I am an instructor at Tarleton State University. My short-term goal is to gain teaching and research experience; my long-term goal is to work as a researcher in the defense industry.</p>
				<p>My favorite language right now is Rust, and my favorite computer science topic right now is compiler design. I'm a devout follower of Jesus Christ, and my non-CS hobbies include playing guitar, writing, and playing chess.</p>
			</section>
{% endblock %}