{% extends "base.html" %}

{% block web_title %}Ethan's Contact Information{% endblock %}

{% block preamble %}
{% endblock %}

{% block main %}
			<section class="about">
				<h1 class="impact-text">How can you reach me?</h1>
				<p>
					The best way to get in contact with me is through email at 
					<a href="mailto:ethanwelborn@protonmail.com">ethanwelborn@protonmail.com</a>
				</p>

				<h1 class="impact-text">Where else can you find me?</h1>
				<ul style="padding-left: 0px;">
					<p><a href="https://www.linkedin.com/in/ethan-welborn-2b6b6b211/">LinkedIn</a></p>
					<p><a href="https://github.com/ewelborn">GitHub</a></p>
					<p><a href="https://scholar.google.com/citations?user=bdoE-4wAAAAJ&hl=en&oi=ao">Google Scholar</a></p>
					<p><a href="https://orcid.org/0009-0004-4146-7157">ORCID</a></p>
				</ul>
			</section>
{% endblock %}