{% extends "base.html" %}

{% block web_title %}Ethan's Portfolio{% endblock %}

{% block preamble %}
{% endblock %}

{% block main %}
		<main>
			<section class="somethingelse">
				<h1 class="impact-text">Technologies</h1>
				<ul class="image-to-text-showcase">
					<li>
						<img src="../static/logos/python.svg" alt="Python">
						<p>Python</p>
					</li>
					<li>
						<img src="../static/logos/rust.svg" alt="Rust">
						<p>Rust</p>
					</li>
					<li>
						<img src="../static/logos/java.svg" alt="Java">
						<p>Java</p>
					</li>
					<li>
						<img src="../static/logos/c.svg" alt="C">
						<p>C</p>
					</li>
					<li>
						<img src="../static/logos/cpp.svg" alt="C++">
						<p>C++</p>
					</li>
					<li>
						<img src="../static/logos/csharp.svg" alt="C#">
						<p>C#</p>
					</li>
					<li>
						<img src="../static/logos/lua.svg" alt="Lua">
						<p>Lua</p>
					</li>
					<li>
						<img src="../static/logos/x86.svg" alt="x86 Assembly">
						<p>x86 Assembly</p>
					</li>
					<li>
						<img src="../static/logos/js.svg" alt="Javascript">
						<p>Javascript</p>
					</li>
					<li>
						<img src="../static/logos/html5.svg" alt="HTML 5">
						<p>HTML 5</p>
					</li>
					<li>
						<img src="../static/logos/css3.svg" alt="CSS 3">
						<p>CSS 3</p>
					</li>
					
					
					<li>
						<img src="../static/logos/docker.svg" alt="Docker">
						<p>Docker</p>
					</li>
					<li>
						<img src="../static/logos/git.svg" alt="Git">
						<p>Git</p>
					</li>
					<li>
						<img src="../static/logos/linux.svg" alt="Linux">
						<p>Linux</p>
					</li>
					<li>
						<img src="../static/logos/ubuntu.svg" alt="Ubuntu">
						<p>Ubuntu</p>
					</li>
					
				</ul>
			</section>

			<section class="somethingelse">
				<h1 class="impact-text">Projects</h1>

				<p>
					These projects are listed in chronological order, youngest to oldest. Some of these projects link to extensive writeups where I describe them in
					more detail, while others simply link to a GitHub repository.
				</p>
				
				<ul style="padding-left: 0px">
					<p>
						<a href="./blog/how-was-this-website-made">ethanwelborncs.com</a> 
						this website is backed by Python, Flask, Gunicorn, Nginx and Docker all built on an AWS EC2 instance.
					</p>
					<p>
						<a href="./blog/pothole-detection-and-area-estimation">Pothole Detection and Area Estimation with Deep Neural Networks:</a> 
						started as my master's thesis, was presented at ISVC 2023 and published in Springer.
					</p>
					<p>
						<a href="./blog/vehicle-tracking-with-homography">Vehicle Tracking with Homography and Deep Neural Networks:</a> 
						research project I worked on during my master's program that was never published.
					</p>
					<p>
						<a href="https://github.com/ewelborn/ewelbornUtil">C Utility Library / ewelbornUtil</a> 
						a small library that makes the C programming language a little easier to work with
					</p>
					<p>
						<a href="./blog/duck-code">DuckCode:</a> 
						yeah
					</p>
					<p>
						<a href="./blog/medusa-lang">Medusa:</a> 
						programming language and partial compiler designed and implemented from scratch for a semester project.
					</p>
					<p>
						<a href="./blog/web-checkers">Web Checkers:</a> 
						play checkers with your friends over the Internet
					</p>
				</ul>
			</section>

			<section class="somethingelse">
				<h1 class="impact-text">Certifications</h1>
				<ul style="padding-left: 0px">
					<p>
						Remote Pilot License rated for Small Unmanned Aircraft Systems (Part 107) issued by the Federal Aviation Administration
					</p>
					<p>
						Fundamentals of Deep Learning certificate awarded by NVIDIA Deep Learning Institute
					</p>
					<p>
						Effective Teaching Practices certificate awarded by the Association of College and University Educators (ACUE)
					</p>
					<p>
						CPR and AED certificate awarded by HSI
					</p>
				</ul>
			</section>
		</main>
{% endblock %}